$brown: #353133;
$blue: #00aaad;
$white: #ede6ce;
$red: #ed1c24;

.engage{
	background-color: $brown;
	min-height: 100vh;
	box-shadow: 0 0 20px 5px rgba(0,0,0,.6);
	color:$white;
	padding-bottom:2em;

	ul{
		list-style-type: disc;
		margin-left:3em;

	}

	.header{
		text-align: right;
		padding:1em 3em;
		border-bottom:2px solid $blue;
		margin-bottom: 1em;
		margin-left:-15px;
		background: url('/img/cwt/engage/bg_circles.png');
		background-repeat:no-repeat;
		background-size:50%;
		background-position: -37% -10%;
		
	}

	.thank-you{
		font-size:1.4em;
		text-align: left;
		padding:0 2em;
		margin-bottom: 1em;
		border-bottom:1px solid white;
		h1{
			text-align:left;
			font-size:1.2em;
		}
		
	}
	.form{
		background-color: white;
		color: $blue;
		padding:2em;
		border-radius: 10px;
		overflow: hidden;
		padding-bottom:0;
		.submit{
			border:none;
			background-color: transparent;
			position: relative;
			top:5px;
			img{
				cursor:pointer;
				
			}
		}
	}
	.forward-form{
		width:100%;
		background-color: transparent;
		text-align: left;
		padding:0;
		.btn{
			// margin:1em 0;
		}
	}
	.details{
		font-size:1.4em;
		.sub-text{
			font-size:.7em;
		}
		.schedule{
			font-size:.8em;
		}
		td{
			padding:0 2px;
		}
		a{
			color:$red;
			text-decoration: underline;
		}
	}
	.presenters{
		h2{
			text-align: center;
			margin:2em 0 1em 0;
		}
		.presenter{
			text-align: center;
			font-weight: bold;
		}
		.bio{
			padding:0 10%;

			@include media-query($phone){
				padding:0;
			}
		}
		.table{
			font-size:.9em;
			td{
				border:none;
			}
		}
		
	}
}