html {
  background-color: black;
  font-family: Verdana;
  font-size: 17px; }
  @media screen and (max-width: 1199px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 991px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 767px) {
    html {
      font-size: 11px; } }

.container {
  background-repeat: no-repeat;
  position: relative; }
  .container .bg {
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    background: url(../../img/halloween/main_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1; }
    .container .bg.two {
      background-image: url(../../img/halloween/second_bg.jpg); }
    .container .bg.right {
      right: 0;
      background-position: right bottom; }
    .container .bg.left {
      left: 0;
      background-position: left bottom; }

.content {
  width: 55%;
  padding: 5em 3em 300px 3em;
  margin: auto;
  background: url(../../img/halloween/content_bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  text-align: center; }
  .content:not(.two) {
    padding-bottom: 200px; }
  .content.two {
    color: white;
    background-image: url(../../img/halloween/secondary_content_bg.jpg); }
  @media screen and (max-width: 1199px) {
    .content {
      width: 50%;
      padding-bottom: 150px; } }
  @media screen and (max-width: 991px) {
    .content {
      width: 90%;
      padding-bottom: 200px; } }
  @media screen and (max-width: 767px) {
    .content {
      padding-bottom: 150px; } }

.title-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5em;
  background-color: white;
  text-align: center;
  padding: 10px;
  padding-top: 1em;
  box-shadow: 1em 0 1em 5px rgba(0, 0, 0, 0.7); }
  .title-bar .logo a {
    display: inline-block;
    height: 3em; }
  .title-bar .logo img {
    height: 100%; }

.video-container {
  margin: 2em 0; }
  .video-container video {
    width: 100%; }

.video-extras .social, .video-extras .copyright {
  display: inline-block;
  width: 40%;
  margin-bottom: 1em;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .video-extras .social, .video-extras .copyright {
      width: 100%; } }

.video-extras .social {
  text-decoration: underline; }

.message {
  font-size: 1.5em;
  margin-top: 3em; }
  .message * + * {
    margin-bottom: 1em; }
  .message h1 {
    font-size: 1.2em;
    font-weight: bold; }

.buttons {
  margin: 1em 0; }
  .buttons a {
    text-decoration: none; }
  .buttons .btn {
    color: white;
    font-size: 1em;
    padding: .2em 0;
    background-color: #48a842;
    display: inline-block;
    border: none;
    width: 35%;
    margin: .2em .5%; }
    @media screen and (max-width: 991px) {
      .buttons .btn {
        width: 47%; } }
    @media screen and (max-width: 767px) {
      .buttons .btn {
        width: 47%; } }
    .buttons .btn.skip-video {
      width: 50%; }

.form {
  margin-bottom: 10em; }
  .form .form-control {
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    line-height: 2em;
    margin-bottom: 1em; }
  .form .btn {
    font-size: 1.3em; }

/*# sourceMappingURL=app.css.map */
