@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome.scss";

.fa{
	font-size:2em;
}

.sub-nav{
	text-align: center;
	li{
		padding:.5em 2em;
	}
}