@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "redactor/redactor";


.fa{
	font-size:2em;
}

.sub-nav{
	text-align: center;
	li{
		padding:.5em 2em;
	}
}

.panel{
	.panel-heading{
		padding:10px 0;
		text-overflow: nowrap;
	}
	text-align: center;
	.pie-chart{
		margin:auto;
	}
}

.nav-collapser{
	margin:0;
	font-size:2em;
}

.section-header{
	border-bottom:1px solid #999999;
	padding-bottom:.5em;
	margin-bottom:1em;
	margin-top:2em;
}

.redactor-editor{
	min-height:300px !important;
}


iframe{
	width: 100%;
}