@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$shadow: 		rgba(0,0,0,.7);


$md:            1199px;
$tablet:     	   991px;
$phone:     	     767px;



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import 'clients/engage',
		'clients/halloween';


